#page {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas:
    "head  head"
    "nav   nav"
    "aside main"
    "foot  foot";
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-columns: 1fr 3fr;
}

#page > header {
  grid-area: head;
  background-color: #cb0b59;
}

#page > nav {
  grid-area: nav;
  background-color: #7b1346;
}

#page > main {
  grid-area: main;
  background-color: #00ff9f;
}

#page > aside {
    grid-area: aside;
    background-color: #21a0b6;
}

#page > footer {
  grid-area: foot;
  background-color: #0b4383;
}

